<h1>Eat the Burger</h1>

<div class = 'container'>
<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button type="submit" class="burger-submit">Add Burger</button>
</form>

</div>

